%row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

%col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
