%row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

%col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: skyblue;
}
 
i {
  font-style: normal;
}

ul {
margin: 0;
padding: 0;
}

li {
  letter-spacing: 1px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}